.create-container {
    padding: 20px;
    max-width: 800px;  // Puedes ajustar según tus necesidades
    margin: 0 auto;   // Centra el contenedor en la pantalla

    h1 {
        margin-bottom: 20px;
    }

    input {
        box-sizing: border-box; // Asegura que el padding y el borde estén incluidos en el ancho
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;            // Ocupará todo el ancho disponible
        border: 2px solid #6e5494;
        border-radius: 7px;
        font-size: 16px;
        color: #ffffff;
        background-color: #1b1b2f;
        transition: border-color 0.3s;

        &::placeholder {
            color: #aaa;
        }

        &:focus {
            border-color: #6e5494;
            outline: none;
            box-shadow: 0 0 8px rgba(110, 84, 148, 0.5);
        }
    }
}
