.create-container, .edit-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;   

    h1 {
        margin-bottom: 20px;
    }

    input {
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        border: 2px solid #6e5494;
        border-radius: 7px;
        font-size: 16px;
        color: #ffffff;
        background-color: #1b1b2f;
        transition: border-color 0.3s;

        &::placeholder {
            color: #aaa;
        }

        &:focus {
            border-color: #6e5494;
            outline: none;
            box-shadow: 0 0 8px rgba(110, 84, 148, 0.5);
        }
    }

    @media (max-width: 768px) {
        padding: 10px;
        max-width: 95%;
        input {
            font-size: 15px;
        }
    }
}
