.edit-container {
    padding: 20px;
    
    h1 {
        margin-bottom: 20px; // Añadimos espacio
    }

    input {
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        border: 2px solid #e6e6e6;
        border-radius: 7px;  // Bordes más redondeados
        font-size: 16px;  // Ajustamos el tamaño del texto

        &:focus {
            border-color: #007BFF;  // Cambiamos el color del borde al enfocar
        }
    }
}