body {
    font-family: 'Roboto', sans-serif;
    background: #1b1b2f;  // Cambiamos el fondo al color especificado
    margin: 0;
    padding: 0;
    color: #ffffff;  // Color blanco para el texto
    line-height: 1.6;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

button {
    padding: 10px 25px;
    border: none;
    border-radius: 7px;
    background-color: #6e5494;  // Color principal de GitHub
    color: #ffffff;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;

    &:hover {
        background-color: #563d7c;  
    }
}
