.home-container {
    padding: 40px 20px;
    background-color: #2d2d36;  // Un color más oscuro para contraste
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.2);
    margin-top: 15px;
}