.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); // Hice el fondo un poco más oscuro
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.modal-container {
  background-color: #2d2d36;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  transform: scale(0.9); 
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;

  &.active {
    transform: scale(1);
    opacity: 1;
  }

  // Estilos para personalizar la scrollbar
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #3a3a48; // Puedes ajustar este color
  }

  &::-webkit-scrollbar-thumb {
    background-color: #6e5494;
    border-radius: 4px;al
    &:hover {
      background-color: #563d7c;
    }
  }
}

.modal-header {
  font-size: 20px;
  margin-bottom: 10px;
}

.modal-footer {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: #6e5494;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #563d7c;
  }
}

@media (max-width: 768px) {
  .modal-container {
    width: 95%;
  }
}
