div.poem-item {
    padding: 15px;
    background: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
        margin-top: 0;
    }

    a,
    button {
        margin-top: 10px;
    }
}
