div {
    background-color: #161B22;
    border: 1px solid #30363d;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #1F242A;
    }
}