.poemItem-container {
    padding: 20px;
    border: 1px solid #ccc;  // Borde para las tarjetas
    border-radius: 8px;
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0 2px 15px rgba(0,0,0,0.1);  // Sombra al pasar el cursor
    }

    h2 {
        margin-top: 0;
    }

    button {
        margin-top: 10px;
        margin-left: 10px;
    }
}
